@import "/less/uikit.less";

@color-white: #F8FFE5;
@color-black: black;
@color-green: #06D6A0;
@color-green-light: lighten(@color-green, 40%);
@color-violet: #A98CFF;
@color-orange: #D39700;
@color-blue: #148AED;

@base-selection-background: @color-green;
@base-link-color: @color-green;

@nav-default-item-color: @color-black;
@nav-default-item-hover-color: @color-white;
@nav-default-font-size: 1rem;

@section-padding-vertical-m: 40px;

@table-cell-padding-vertical: 10px;
@table-cell-padding-horizontal: 10px;

@card-body-padding-vertical: 15px;
@card-body-padding-vertical-l: 15px;

@import "partials/sidebar.less";
@import "partials/container.less";
@import "partials/calendar.less";

// removes ugly focus border of contenteditable HTML elements
[contenteditable]:focus {
  outline: none;
}