@import "/less/uikit.less";

@color-white: #F8FFE5;
@color-black: black;
@color-green: #06D6A0;

@base-selection-background: @color-green;
@base-link-color: @color-green;

@nav-default-item-color: @color-black;
@nav-default-item-hover-color: @color-white;
@nav-default-font-size: 1rem;

@section-padding-vertical-m: 40px;
@table-cell-padding-vertical: 10px;
@table-cell-padding-horizontal: 10px;

@card-body-padding-vertical: 15px;
@card-body-padding-vertical-l: 15px;

@import "partials/sidebar.less";

[contenteditable]:focus {
  outline: none;
}

.db-container {
  margin-left: 320px;
  width: 80%;
}

.db-calendar {
  text-align: center;

  th, tr {
    width: 50px;
    height: 50px;
    aspect-ratio: 1 / 1 ;
  }

  th {
    background-color: gold;
  };

  tbody tr {
    cursor: pointer;
  }

  td {
    background-color: lighten(@color-green, 40%);
  }

  .db-calendar-week-selected td {
    background-color: @color-green;
  }

  .db-calendar-day-vacation {
    background-color: #A98CFF !important;
  }

  .db-calendar-day-absence {
    background-color: #D39700 !important;
  }

  .db-calendar-day-holiday {
    background-color: #148AED !important;
  }

}